    :root {
            --dark-background: #1C1E26;
            --text-color-primary: #FFFFFF;
            --text-color-secondary: #D4D4D4;
            --accent-pink: #DB2A6B;
            --accent-purple: #9B51E0;
            --image-bg-orange: #FF8F1F;
            --image-bg-blue: #4A90E2;
            --image-bg-white: #FFFFFF;
            --image-bg-black: #000000;
            --image-bg-purple: #8B5CF6;
            --image-bg-cyan: #22D3EE;
            --image-bg-yellow: #FBBF24;
            --image-bg-pink: #EC4899;
            --card-icon-bg: rgba(255, 255, 255, 0.1);
            --font-family-body: "Merriweather", sans-serif;
            --font-family-heading: "Poppins", sans-serif;
        }




