@use 'animations';
@use 'reset';
@use 'typography';

/* Configuración con scroll para pantallas menores a 1920x1080 */
html {
    margin: 0;
    padding: 0;
    background-color: black;
    min-height: 100vh;
    
    /* Mostrar scroll si la ventana es menor a 1920x1080 */
    overflow-x: auto;
    overflow-y: auto;
}

body {
    font-family: var(--font-family-body);
    background-color: var(--dark-background);
    color: var(--text-color-secondary);
    margin: 0 auto;
    padding: 0;
    
    /* Dimensiones fijas para el diseño */
    width: 1920px;
    min-height: 1080px;
    position: relative;
    
    /* Centrado horizontal cuando la pantalla es más grande */
    max-width: none;
    
    /* Fondo negro para pantallas más grandes */
    box-shadow: 0 0 0 9999px black;
}

body::before {
    content: '';
    position: absolute;
    bottom: -240px;
    right: 0px;
    width: 1000px;
    height: 1000px;
    background-image: url('/img/ellipse.png');
    background-repeat: no-repeat;
    background-size: contain;
   
   
}

body::after {
    content: '';
    position: absolute;
    bottom: -240px;
    right: 0px;
    width: 800px;
    height: 800px;
    background-image: url('/img/ellipse1.png');
    background-repeat: no-repeat;
    background-size: contain;
    
   
}

a {
    color: var(--text-color-primary);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--accent-pink);
}

h1, h2 {
    font-family: var(--font-family-heading);
    color: var(--text-color-primary);
}

