@use 'animations';
@use 'reset';
@use 'typography';

/* Configuración fija para 1920x1080 */
html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: var(--font-family-body);
    background-color: var(--dark-background);
    color: var(--text-color-secondary);
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1080px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 9999px black;
}

body::before {
    content: '';
    position: absolute;
    bottom: -240px;
    right: 0px;
    width: 1000px;
    height: 1000px;
    background-image: url('/img/ellipse.png');
    background-repeat: no-repeat;
    background-size: contain;
   
   
}

body::after {
    content: '';
    position: absolute;
    bottom: -240px;
    right: 0px;
    width: 800px;
    height: 800px;
    background-image: url('/img/ellipse1.png');
    background-repeat: no-repeat;
    background-size: contain;
    
   
}

a {
    color: var(--text-color-primary);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--accent-pink);
}

h1, h2 {
    font-family: var(--font-family-heading);
    color: var(--text-color-primary);
}

